[Unit]
Description=Brasil SaaS ERP Módulo de Serviços - Ordens de Serviço, Manutenção Module
After=network.target postgresql.service mongodb.service braslcloud-erp-core.service

[Service]
User=euripedes
WorkingDirectory=/home/euripedes/OneDrive/python/projetos-leno/JAVA/BRASIL-SAAS-ERP
ExecStart=/usr/bin/java -jar modules/servicos/target/brasil-saas-erp-servicos-1.0.0-SNAPSHOT.jar --spring.profiles.active=prod
Restart=always
RestartSec=10
Environment=SPRING_PROFILES_ACTIVE=prod
Environment=JWT_SECRET=brasil-saas-erp-servicos-ALTERE_ME_32_BYTES_OU_MAIS
Environment=MONGODB_PASSWORD=ALTERE_ME
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
