[Unit]
Description=Executa backup PostgreSQL do ERP a cada 2 horas

[Timer]
OnCalendar=*-*-* 00/2:00:00
Persistent=true
RandomizedDelaySec=2m
Unit=brasil-saas-db-backup.service

[Install]
WantedBy=timers.target
